<div class="container">
    <div class="page-header">
        <div class="jumbotron">
            <div class="container">
                <h1>Sonar</h1>
                <h3>
                    Blind Rounter Enumeration
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>
                <i class="fa fa-fw fa-server"></i>
                Recent Scans
            </h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Job Name</th>
                        <th>Success Rate</th>
                        <th>Status</th>
                        <th><!-- Button --></th>
                    </tr>
                </thead>
                <tbody id="recent-jobs">
                </tbody>
            </table>
        </div>
    </div>
</div>
