<div class="container">
    <h1 class="page-header">
        <i class="fa fa-fw fa-question-circle"></i>
        Page Not Found{{#if other}}: {{ other }} {{/if}}
    </h1>
    <div class="row text-center">
        <img class="img-thumbnail" src="/static/images/404.gif" />
    </div>
</div>
