<div class="container">
    <div class="page-header">
        <h1>
            <i class="fa fa-fw fa-gears"></i>
            Settings
            <small>{{this.name}}</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            stuff
        </div>
    </div>
</div>
