<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Router Enumeration">
        <meta name="author" content="mandatory/moloch">
        <link rel="shortcut icon" href="/static/favicon.png">
        <title>Sonar</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/themes/cosmo.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/animate-custom.css" rel="stylesheet">
        <link href="/static/css/content-padding.css" rel="stylesheet">
        <link href="/static/css/pages.css" rel="stylesheet">
    </head>
    <body>
            <div id="page-menu-wrapper">
            </div><!-- /.top-menu -->
            <div id="page-content-wrapper" class="fluid-container animated">
            </div><!-- /.page-content-wrapper -->

            <!-- JavaScript Dependancies -->
            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/underscore.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script src="/static/js/backbone.min.js"></script>
            <script src="/static/js/handlebars.min.js"></script>

            <!-- jsclient -->
            <script src="/static/js/sonar.min.js"></script>
    </body>
</html>
